# load secret (work only)
{{- if eq .profile "work" }}
[[ -f ./mntsq.zsh ]] && source ./mntsq.zsh
{{- end }}

# fzf
source <(fzf --zsh)

# zoxide
eval "$(zoxide init zsh)"

# zsh-autosuggestions
source $(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh

# direnv
eval "$(direnv hook zsh)"

# pyenv
eval "$(pyenv init - zsh)"

# br
source /Users/nagi.moriyama/.config/broot/launcher/bash/br

# mise
eval "$(mise activate zsh)"

# starship
eval "$(starship init zsh)"
